<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengshi.shop.dao.admin.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.chengshi.shop.model.admin.AdminUser">
        <id column="user_id" jdbcType="SMALLINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="last_ip" jdbcType="VARCHAR" property="lastIp"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_id, user_name, password, mobile, email, create_time, last_login, last_ip, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cs_admin_user
        where user_id = #{userId,jdbcType=SMALLINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
        DELETE FROM cs_admin_user
        WHERE user_id = #{userId,jdbcType=SMALLINT}
    </delete>
    <insert id="insert" parameterType="com.chengshi.shop.model.admin.AdminUser">
        INSERT INTO cs_admin_user (user_id, user_name, password,
                                   mobile, email, create_time,
                                   last_login, last_ip, status
        )
        VALUES (#{userId,jdbcType=SMALLINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{lastLogin,jdbcType=TIMESTAMP}, #{lastIp,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.chengshi.shop.model.admin.AdminUser">
        insert into cs_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastLogin != null">
                last_login,
            </if>
            <if test="lastIp != null">
                last_ip,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=SMALLINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLogin != null">
                #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="lastIp != null">
                #{lastIp,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chengshi.shop.model.admin.AdminUser">
        update cs_admin_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="lastIp != null">
                last_ip = #{lastIp,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where user_id = #{userId,jdbcType=SMALLINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chengshi.shop.model.admin.AdminUser">
        UPDATE cs_admin_user
        SET user_name   = #{userName,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            mobile      = #{mobile,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            last_login  = #{lastLogin,jdbcType=TIMESTAMP},
            last_ip     = #{lastIp,jdbcType=VARCHAR},
            status      = #{status,jdbcType=TINYINT}
        WHERE user_id = #{userId,jdbcType=SMALLINT}
    </update>
    <!--获取后台管理用户列表-->
    <select id="getUserList" resultMap="BaseResultMap">
        SELECT *
        FROM cs_admin_user
        WHERE status = 1
    </select>
    <!--逻辑删除用户-->
    <update id="deleteByUserId">
        UPDATE cs_admin_user
        SET status = 2
        WHERE user_id = #{userId,jdbcType=SMALLINT}
    </update>
    <select id="findByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *
        FROM cs_admin_user
        WHERE user_name = #{userName,jdbcType=VARCHAR}
        LIMIT 1
    </select>
</mapper>