<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengshi.shop.dao.order.OrderReturnHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.chengshi.shop.model.order.OrderReturnHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_return_id" property="orderReturnId" jdbcType="INTEGER" />
    <result column="order_item_id" property="orderItemId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_return_id, order_item_id, content, create_time, op_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_order_return_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_order_return_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chengshi.shop.model.order.OrderReturnHistory" >
    insert into cs_order_return_history (id, order_return_id, order_item_id, 
      content, create_time, op_name
      )
    values (#{id,jdbcType=INTEGER}, #{orderReturnId,jdbcType=INTEGER}, #{orderItemId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{opName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengshi.shop.model.order.OrderReturnHistory" >
    insert into cs_order_return_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderReturnId != null" >
        order_return_id,
      </if>
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderReturnId != null" >
        #{orderReturnId,jdbcType=INTEGER},
      </if>
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengshi.shop.model.order.OrderReturnHistory" >
    update cs_order_return_history
    <set >
      <if test="orderReturnId != null" >
        order_return_id = #{orderReturnId,jdbcType=INTEGER},
      </if>
      <if test="orderItemId != null" >
        order_item_id = #{orderItemId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengshi.shop.model.order.OrderReturnHistory" >
    update cs_order_return_history
    set order_return_id = #{orderReturnId,jdbcType=INTEGER},
      order_item_id = #{orderItemId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      op_name = #{opName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>