<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengshi.shop.dao.order.OrderGiftMapper">
    <resultMap id="BaseResultMap" type="com.chengshi.shop.model.order.OrderGift">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="gift" property="gift" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, gift
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cs_order_gift
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM cs_order_gift
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chengshi.shop.model.order.OrderGift">
        INSERT INTO cs_order_gift (id, order_id, gift
        )
        VALUES (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{gift,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.chengshi.shop.model.order.OrderGift">
        insert into cs_order_gift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="gift != null">
                gift,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="gift != null">
                #{gift,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chengshi.shop.model.order.OrderGift">
        update cs_order_gift
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="gift != null">
                gift = #{gift,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chengshi.shop.model.order.OrderGift">
        UPDATE cs_order_gift
        SET order_id = #{orderId,jdbcType=INTEGER},
            gift     = #{gift,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getGiftList" resultType="java.lang.String">
        SELECT gift
        FROM cs_order_gift
        WHERE order_id = #{orderId,jdbcType=INTEGER}
    </select>
</mapper>