<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengshi.shop.dao.order.OrderCouponMapper">
    <resultMap id="BaseResultMap" type="com.chengshi.shop.model.order.OrderCoupon">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, coupon_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cs_order_coupon
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM cs_order_coupon
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chengshi.shop.model.order.OrderCoupon">
        INSERT INTO cs_order_coupon (id, order_id, coupon_id
        )
        VALUES (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.chengshi.shop.model.order.OrderCoupon">
        insert into cs_order_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="couponId != null">
                coupon_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="couponId != null">
                #{couponId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chengshi.shop.model.order.OrderCoupon">
        update cs_order_coupon
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="couponId != null">
                coupon_id = #{couponId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chengshi.shop.model.order.OrderCoupon">
        UPDATE cs_order_coupon
        SET order_id  = #{orderId,jdbcType=INTEGER},
            coupon_id = #{couponId,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getListByOrderId" resultMap="BaseResultMap">
        SELECT *
        FROM cs_order_coupon
        WHERE order_id = #{orderId,jdbcType=INTEGER}
    </select>
</mapper>