#toolbar .btn-link{
    color: #444;
}
.btn-link.disabled{
    border-color: transparent;
    background-color: transparent;
}

.form-control.error{
    border: 1px solid #ea644a;
}

label.error{
    color: #ea644a;
}