#toolbar .btn-link {
    color: #444;
}

.btn-link.disabled {
    border-color: transparent;
    background-color: transparent;
}

.form-control.error {
    border: 1px solid #ea644a;
}

label.error {
    line-height: 14px;
    font-size: 12px;
    font-weight: normal;
    color: #ea644a;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.select2-search input[type="search"] {
    width: 100%;
    height: 27px;
    font-size: 12px;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    padding: 2px 26px 2px 8px;
    margin: 1px 0;
    border: 1px solid rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    outline: 0;
}