.panel-group {
    margin: 10px;
}

.img-box {
    overflow: auto;
    min-height: 120px;
    background-size: 120px 120px;
    background-image: url("/image/default_img.gif");
    background-repeat: no-repeat;
}

.delete-file {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 5px;
    top: 5px;
    line-height: 18px;
    background-color: #ddd;
    cursor: pointer;
    text-align: center;
}

.file-thumb {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    position: relative;
}

.file-thumb img {
    width: 120px !important;
    height: 120px !important;
}

.footer {
    text-align: center;
    margin: 20px;
}

.kindeditor {
    height: 500px !important;
}

.del-spec {
    float: right;
}

.goods-spec {
    margin-bottom: 20px;
}

.spec {
    width: 120px;
}

.hide {
    display: none;
}

.mt15 {
    margin-top: 15px;
}

.spec-value {
    width: 200px;
}

.spec-warp > .goods-spec:first-child label {
    display: inline-block;
}

/*浮层*/
.goods-popover {
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    margin-left: -138px;
    margin-top: 10px;
}

.goods-popover-inner {
    position: relative;
    background: #fff;
    padding: 10px;
    min-width: 20px;
    min-height: 20px;
    z-index: 20;
}

.page-tag-main {
    position: relative;
}

.page-tag-main .page-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.goods-popover-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    transform: rotate(45deg) translateX(50%) translateY(-50%);
    transform-origin: 100% 0;
}

.goods-popover-arrow-up {
    top: 0;
    right: 50%;
}

.spec-value-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.spec-value-items {
    width: 73px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
}

.spec-value-items .items-txt {
    width: 73px;
    height: 32px;
    display: block;
    line-height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.spec-value-items .items-txt .items-close {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 9px;
    z-index: 2;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: rgba(153, 153, 153, 0.6);
}

.table input{
    width: 100px;
}

.table span{
    line-height: 32px;
}