.cs-space-tool {
    height: 45px;
}

.cs-space-body {
    border: 1px solid #e5e5e5;
}

.cs-space-left {
    overflow: auto;
    padding: 0;
    height: 450px;
    background-color: #f5f5f5;
}

.cs-space-footer {
    bottom: 0;
    right: 25px;
    position: absolute;
}

a.list-navbar {
    color: #555;
}

a.list-navbar:hover,
a.list-navbar:focus {
    color: #353535;
    text-decoration: none;
    background-color: #ebf2f9;
}

.list-navbar {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #f5f5f5;
}

.list-navbar.active, .list-navbar.active:focus, .list-navbar.active:hover {
    z-index: 2;
    background-color: #fff;
}

.none_info {
    line-height: 250px;
    text-align: center;
}

.card>.media-wrapper{
    min-height: 95px;
}